@import "tailwindcss/tailwind.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom, #1a1a1a, #333333);
  margin: 0;
  font-family: "Arial", sans-serif;
  color: #eee;
}
